* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Muli';
  src: url(/assets/fonts/Muli-Regular.woff);
}

html,
body {
  font-family: 'Muli', sans-serif;
  font-size: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h {
  letter-spacing: -0.02em;
}

.title {
  font-size: 5rem;
  line-height: 40px;
  color: #f7ae3b;
  font-weight: 800;
}

button {
  background-color: transparent;
  border: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  cursor: pointer;
  height: 60px;
  border-radius: 99em;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  -ms-border-radius: 99em;
  -o-border-radius: 99em;
  color: #fff;
  font-weight: 800;
}

/* header */

.header {
  height: 100vh;
  background-image: url(/assets/images/header/header-bg-img.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-bottom: 95px;
  font-weight: 800;
}

.header-top {
  margin: 0 100px 100px 100px;
  position: relative;
  padding-top: 70px;
}

.header__navigation {
  max-width: 1720px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  width: 540px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: inherit;
  font-size: 1.6rem;
  line-height: 40px;
  letter-spacing: 0.02em;
}

.menu__link {
  color: #fff;
}

.menu__link:hover {
  color: #09a565;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -65%);
  -webkit-transform: translate(-50%, -65%);
  -moz-transform: translate(-50%, -65%);
  -ms-transform: translate(-50%, -65%);
  -o-transform: translate(-50%, -65%);
}

.header__links {
  width: 425px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* для полоски: два свойства */
.header__links-line {
  display: flex;
  justify-content: center;
}

.header__links-line::before {
  content: "";
  margin-left: 50px;
  margin-right: 50px;
  width: 50px;
  height: 2px;
  border-bottom: 2px solid #ffd68f;
  position: absolute;
}

.personal__list {
  width: 155px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* счетчик корзины*/
.bag {
  position: relative;
}

.personal__icon-count {
  position: absolute;
  right: -17px;
  top: -12px;
  background-color: #fff;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  padding-top: 4px;
}

.social__list {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.social__list-link {
  line-height: 0;
}

.header__content {
  align-self: center;
}

.header__btn {
  width: 280px;
  height: 70px;
  padding: 0 40px 0;
  background-color: #09a565;
  font-size: 2.4rem;
  align-self: center;
}

/* smoothies */

.smoothies {
  display: flex;
  flex-direction: column;
  margin-bottom: 165px;
}

.smoothies__title {
  align-self: center;
  text-align: center;
  margin-bottom: 55px;
}

.smoothies__text {
  display: flex;
  align-self: center;
  max-width: 915px;
  text-align: center;
  font-size: 1.8rem;
  line-height: 35px;
  margin-bottom: 90px;
}

.smoothies__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  align-self: center;
  max-width: 1100px;
  min-height: 390px;
  font-weight: bold;
}

.smoothies__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  height: 195px;
  padding: 20px 15px 0px 15px;
}

.smoothies__item-img {
  margin-bottom: 25px;
  width: 80px;
  height: 80px;
}

.smoothies__item-title {
  font-size: 2.5rem;
  color: #f2612d;
  font-weight: 800;
  text-align: center;
}

.smoothies__item:nth-child(-n+4) {
  border-bottom: 2px solid #f6ecdd;
}

.smoothies__item:nth-child(-n+3),
.smoothies__item:nth-child(5),
.smoothies__item:nth-child(6),
.smoothies__item:nth-child(7) {
  border-right: 2px solid #f6ecdd;
}

/* about */

.about {
  display: flex;
  justify-content: center;
  background-color: #11846d;
  font-size: 2.1rem;
  line-height: 22px;
  padding-left: 15px;
  padding-right: 15px;
}

.about__img {
  transform: translate(0px, 85px);
  margin-right: 270px;
  /* position: relative; */
  object-fit: contain;
  /* top: 85px; */
}

.about__content {
  max-width: 600px;
  color: #fff;
}

.about__title {
  font-size: 5.5rem;
  line-height: 60px;
  margin-top: 95px;
  margin-bottom: 65px;
  position: relative;
  font-weight: 800;
}

.about__title-special {
  color: #cae941;
}

.about__title::before {
  content: "";
  position: absolute;
  width: 450px;
  height: 13px;
  background-image: url(/assets/images/about/Line.svg);
  left: 70px;
  top: 115px;
}

.about__list {
  margin-bottom: 50px;
  list-style-image: url(/assets/images/about/icon-list.png);
  list-style-position: inside;
}

.about__list-item--extrabold {
  font-weight: 800;
}

.about__list .about__list-item:not(:last-child) {
  margin-bottom: 25px;
}

.btn__about {
  z-index: 1;
  width: 380px;
  border: 2px solid #f7b131;
  background-color: inherit;
  color: inherit;
  padding: 0 30px 0;
}

/* products */

.products {
  display: flex;
  flex-wrap: wrap;
  min-height: 720px;
  margin-bottom: 120px;
}

.products__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 25%;
  padding-top: 130px;
  color: #fff;
  font-weight: 800;
}

.products__card:nth-child(1) {
  background-color: #622c1a;
}

.products__card:nth-child(2) {
  background-color: #16876d;
}

.products__card:nth-child(3) {
  background-color: #f8b13b;
}

.products__card:nth-child(4) {
  background-color: #c34b1d;
}

.products__card-img {
  margin-bottom: 35px;
}

.products__card-description {
  margin-bottom: 60px;
  font-size: 2rem;
  color: inherit;
  font-weight: inherit;
}

.products__card-description--medium {
  font-weight: 400;
}

.btn__products {
  background-color: inherit;
  width: 205px;
  border: 2px solid #fff;
  padding: 0 35px 0;
  font-size: 2.1rem;
  line-height: 22px;
}

/* story */

.story {
  display: flex;
  justify-content: space-around;
  margin-bottom: 160px;
}

/* штамп */

.story__images {
  /* для штампа */
  position: relative;
  object-fit: cover;
}

.story__images-stamp {
  display: block;
  position: absolute;
  top: 25px;
  left: -170px;
  width: 290px;
  height: 216px;
}

.story__content {
  display: flex;
  flex-direction: column;
  max-width: 451px;
}

.story__title {
  padding-top: 135px;
  margin-bottom: 45px;
}

.story__text {
  font-size: 1.8rem;
  line-height: 35px;
  margin-bottom: 60px;
}

.btn__story {
  width: 300px;
  background-color: #09a565;
  padding: 0 40px 0;
  font-size: 2.1rem;
  line-height: 22px;
}

/* testimonials */

.testimonials {
  min-height: 720px;
  background-color: #6b331e;
  /* padding-left: 430px;
  padding-right: 430px; */
  padding-top: 115px;
  margin-bottom: 100px;
  position: relative;
}

.testimonials__img-dots {
  position: absolute;
  top: -80px;
  right: 55px;
}

.testimonials__title {
  text-align: center;
  margin-bottom: 120px;
  font-size: 5rem;
  line-height: 40px;
}

.testimonials__title--uppercase {
  text-transform: uppercase;
  color: #f2612d;
}

.testimonials__slaider {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.testimonials__slaider-text {
  max-width: 450px;
  text-align: center;
  font-size: 1.8rem;
  line-height: 30px;
  margin-top: 50px;
  margin-right: 60px;
  color: #fff;
  position: relative;
  z-index: 0;
}

.testimonials__slaider-text q {
  display: block;
  margin-bottom: 10px;
}

.testimonials__slaider-text--italic {
  color: #f7ae3b;
}

.testimonials__slaider-img {
  object-fit: cover;
  max-width: 220px;
  max-height: 218px;
  z-index: 0;
}

.testimonials__slaider-text::before {
  content: "Sarah A";
  position: absolute;
  width: 765px;
  height: 150px;
  color: #5a230d;
  font-size: 20rem;
  font-weight: 800;
  bottom: 60px;
  left: -145px;
  z-index: -1;
}

.testimonials__arrow {
  display: flex;
  justify-content: space-between;
  max-width: 155px;
  text-align: center;
  margin: 0 auto;
}

/* blog */

.blog {
  margin-bottom: 200px;
}

.blog__container {
  margin: auto;
  max-width: 1210px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;

}

.blog__title {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
}

.blog__post {
  display: flex;
  justify-content: space-between;
  position: relative;
  /* max-width: 1200px; */
}

.blog__post-img {
  object-fit: cover;
  max-width: 555px;
  max-height: 400px;
  position: relative;
}

.blog__post::before {
  content: "";
  position: absolute;
  width: 690px;
  height: 20px;
  background-image: url(/assets/images/blog/Line.svg);
  background-repeat: no-repeat;
  top: 70px;
  left: 550px;
  z-index: -1;
}

.blog__post-item {
  display: flex;
  flex-direction: column;
}

.blog__post-title {
  color: #f2612d;
  font-size: 3rem;
  line-height: 40px;
  margin-top: 130px;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
}

.blog__post-date {
  font-size: 1.6rem;
  line-height: 35px;
  margin-bottom: 50px;
}

.blog__post-text {
  font-size: 1.8rem;
  line-height: 35px;
  max-width: 480px;
  margin-left: 75px;
}

.blog__post-link {
  font-weight: 800;
}

.blog__link-arrow {
  display: inline-block;
  width: 25px;
  height: 10px;
  margin-left: 15px;
}

/* instagram */

.instagram {
  margin-bottom: 5px;
}

.instagram__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0aa566;
  font-size: 2.4rem;
  letter-spacing: -0.02em;
  font-weight: 800;
  margin-bottom: 45px;
}

.instagram__link-icon {
  margin-right: 15px;
}

.instagram__cards {
  display: flex;
}

.instagram__card {
  position: relative;
  flex-basis: 20%;
}

.instagram__card-img {
  width: 100%;
}

.instagram__card-icon {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

/* footer */

.footer {
  min-height: 430px;
  position: relative;
  letter-spacing: -0.02em;
}

.footer__top {
  min-height: 370px;
  background-color: #f8b038;
  display: flex;
  align-items: center;
}

.footer-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer__navs {
  width: 80%;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  justify-content: space-between;
}

.footer__title {
  font-size: 2.6rem;
  line-height: 40px;
  color: #fff;
  margin-bottom: 40px;
  font-weight: 800;
}

.footer__menu-link {
  color: #6d450c;
  font-size: 1.8rem;
  line-height: 35px;
  font-weight: 700;
}

.footer__menu-link:hover {
  color: #fff;
}

.footer__payment {
  max-width: 260px;
}

.footer__payment-icon {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 15px;
}

.footer__contact {
  width: 50%;
}

.footer__contact-input {
  width: 100%;
  height: 60px;
  border-radius: 99em;
  background-image: url(/assets/images/footer/Icon_input.svg);
  background-repeat: no-repeat;
  background-position: left 30px center;
  font-size: 1.7rem;
  font-weight: 700;
  padding-left: 80px;
  border: none;
  margin-bottom: 35px;
  cursor: pointer;
}

.footer__contact-input:focus-visible {
  outline: 1px solid transparent;
}

.footer__contact-input::placeholder {
  color: #6d450c;
  font-weight: 700;
}

.footer__contact-btn {
  display: inline-block;
  margin-left: 30%;
  color: #6d450c;
  text-transform: uppercase;
  background-color: inherit;
  border: none;
  user-select: none;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  font-weight: 800;
  font-size: 1.8rem;
}

.footer__contact-btn:hover {
  color: #fff;
}

.footer__contact-btn::before {
  content: "";
  width: 48px;
  height: 43px;
  position: absolute;
  background-image: url(/assets/images/footer/Arrow.svg);
  background-repeat: no-repeat;
  bottom: 0px;
  right: 118px;
}

.footer__social-links {
  display: flex;
  justify-content: space-around;
  width: 170px;
  margin-left: 65%;
  margin-top: -20px;
}

.footer__bottom {
  min-height: 60px;
  background-color: #682a1c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  color: #af8a82;
  font-size: 1.3rem;
  white-space: nowrap;
  letter-spacing: 0.02em;
}

.go-top {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 105px;
  bottom: 23px;
}

.go-top__text {
  font-size: 1.6;
  color: #fff;
  font-weight: 700;
}

.go-top__link {
  display: block;
  margin-left: 10px;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background-color: #f1652f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: absolute;
  right: -60px;
  bottom: 14px;
}

.go-top__link::after {
  content: "";
  width: 15px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url(/assets/images/footer/arrow-up.svg);
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/* адаптив */

@media (max-width:1600px) {

  .header {
    padding-top: 90px;
  }

  .header-top {
    margin-bottom: 85px;
  }

  .menu__listб .menu__list {
    width: 500px;
  }

  .header__logo-img {
    width: 280px;
    left: 50%;
    transform: translate(-0%, -100%);
    -webkit-transform: translate(-0%, -100%);
    -moz-transform: translate(-0%, -100%);
    -ms-transform: translate(-0%, -100%);
    -o-transform: translate(-0%, -100%);
  }

  .about__title {
    font-size: 5rem;
  }

  .about__img {
    margin-right: 50px;
  }

  .testimonials__img-dots {
    right: 35px;
    width: 350px;
  }
}

@media (max-width:1366px) {

  .header {
    margin-bottom: 50px;
  }

  .header-top {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
  }

  .menu__list {
    width: 430px;
  }

  .menu__list {
    font-size: 1.6rem;
  }

  .header__links {
    width: 430px;
  }

  .header__logo-img {
    width: 240px;
  }

  .header__btn {
    width: 265px;
    height: 55px;
    padding: 0px 40px 0;
    font-size: 2.2rem;
  }

  .about__title {
    margin-top: 35px;
    margin-bottom: 45px;
  }

  .about__title::before {
    left: 35px;
    top: 115px;
  }

  .about__img {
    margin-right: 50px;
    width: 500px;
    height: 700px;
    transform: translate(-10px, 0px);
  }

  .testimonials {
    margin-bottom: 50px;
  }

  .testimonials__img-dots {
    width: 285px;
    top: -65px;
  }

  .blog__container {
    max-width: 1180px;
  }

  .blog__post {
    max-width: 980px;
  }

  .blog__post-title {
    font-size: 2.5rem;
  }

  .blog__post-img {
    width: 500px;
  }

  .blog__post-text {
    margin-left: 20px;
    max-width: 400px;
    font-size: 1.5rem;
  }

  .blog__post::before {
    left: 305px
  }

  .footer-container {
    width: 95%;
  }

  .footer__title {
    font-size: 2.4rem;
  }

  .footer__menu-link {
    font-size: 1.7rem;
  }
}

@media (max-width:1200px) {
  .about {
    flex-wrap: wrap-reverse;
  }

  .about__img {
    width: 600px;
    height: 727px;
    transform: translate(-10px, 7px);
    margin-right: 0;
  }

  .about__title {
    font-size: 5.5rem;
  }

  .products {
    margin-bottom: 25px;
  }

  .story {
    margin-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .story__text {
    font-size: 1.5rem;
    line-height: 3rem;
  }

  .story__images-stamp {
    width: 250px;
    height: 170px;
  }

  .testimonials__img-dots {
    width: 200px;
    top: -45px;
  }

  .footer-container {
    width: 85%;
  }

  .footer__logo {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .footer__navs {
    width: 100%;
  }

  .footer__contact {
    width: 40%;
  }

  .footer__contact-btn {
    font-size: 1.4rem;
  }

  .footer__social-links {
    margin-left: 55%;
  }
}

@media (max-width:1100px) {

  .header {
    padding-top: 80 px;
  }

  .header-top {

    margin-bottom: 60px;
  }

  .header__logo-img {
    left: 50%;
    transform: translate(-0%, -195%);
    -webkit-transform: translate(-0%, -195%);
    -moz-transform: translate(-0%, -195%);
    -ms-transform: translate(-0%, -195%);
    -o-transform: translate(-0%, -195%);
  }

  .menu__list {
    width: 700px;
  }

  .header__logo-img {
    width: 220px;
  }

  .header__navigation {
    flex-direction: column;
  }

  .menu__list {
    margin-bottom: 15px;
  }

  .personal__list,
  .social__list {
    width: 145px;
  }

  .header__links {
    width: 500px;
  }

  .smoothies {
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .products {
    min-height: 610px;
  }

  .products__card {
    flex-basis: 50%;
    padding-top: 60px;
  }

  .products__card-description {
    margin-bottom: 35px;
  }

  .btn__products {
    margin-bottom: 20px;
    height: 50px;
  }

  /* .products__card {
    padding-top: 80px;
  }

  .products__card-description {
    margin-bottom: 45px;
    font-size: 1.5rem;
  } */

  /* .btn__products {
    height: 50px;
    font-size: 1.5rem;
  } */

  .testimonials {
    min-height: 685px;
  }

  .testimonials__slaider-text::before {
    font-size: 19rem;
  }

  .blog {
    margin-bottom: 100px;
  }

  .blog__container {
    max-width: 980px;
  }

  .blog__post-title {
    font-size: 2rem;
    margin-top: 115px;
  }

  .blog__post-img {
    margin-right: 10px;
  }

  .blog__post::before {
    left: 260px;
  }

  .blog__post-date {
    font-size: 1.5rem;
    line-height: 20px;
    margin-bottom: 30px;
  }

  .blog__post-text {
    font-size: 1.5rem;
    margin-left: 15px;
  }

  .footer-container {
    width: 90%;
    padding-top: 10px;
  }

  .footer__contact-btn::before {
    right: 90px;
  }

  .footer__title {
    margin-bottom: 30px;
  }

  .footer__contact-btn {
    margin-left: 20%;
  }

  .footer__social-links {
    margin-left: 50%;
  }

  .footer__contact-input {
    padding-left: 70px;
    background-position: left 20px center;
  }

}

@media (max-width:1024px) {

  /* .products__card {
    flex-basis: 50%;
    padding-top: 60px;
  }

  .products__card-description {
    margin-bottom: 35px;
  }

  .btn__products {
    margin-bottom: 20px;
  } */

  .story {
    flex-direction: column;
    align-items: center;
  }

  .story__title {
    padding-top: 40px;
    margin-bottom: 35px;
  }

  .story__text {
    margin-bottom: 50px;
  }

  .story__images-stamp {
    left: -110px;
  }

  .btn__story {
    margin-bottom: 15px;
  }

  .testimonials__title {
    margin-bottom: 80px;
  }

  .testimonials__slaider-text {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 35px;
  }

  .testimonials__slaider {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin-bottom: 65px;
  }

  .testimonials__slaider-text::before {
    width: 740px;
    bottom: -15px;
  }

  .testimonials__slaider-img {
    max-width: 170px;
    max-height: 170px;
  }

  .blog {
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f6ecdd;
  }

  .blog__container {
    align-items: center;
    max-width: 1100px;
  }

  .blog__post {
    flex-direction: column-reverse;
    align-items: center;
  }

  .blog__title {
    margin-bottom: 35px;
    margin-right: 345px;
  }

  .blog__post-title {
    margin: 0px;
  }

  .blog__post-text {
    margin-left: 0;
    margin-bottom: 40px;
    max-width: 550px;
  }

  .blog__post::before {
    left: -65px;
    top: 205px;
  }

  .blog__post-img {
    margin: 0;
    width: 800px;
  }

  .instagram__link {
    margin-bottom: 30px;
  }
}

@media (max-width:900px) {

  .smoothies {
    margin-bottom: 5px;
  }

  .smoothies__text {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 20px;
  }

  .smoothies__title {
    margin-bottom: 30px;
  }

  .smoothies__item {
    padding: 10px 10px 0px 10px;
  }

  .smoothies__item-img {
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
  }

  .smoothies__item-title {
    font-size: 2rem;
  }

  .about__img {
    width: 500px;
    height: 700px;
    transform: translate(-10px, 0px);
  }

  .about__title {
    font-size: 5rem;
  }

  .about {
    font-size: 2rem;
  }

  .story__images-stamp {
    left: 325px;
    top: 0px;
  }

  .instagram__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .instagram__card {
    flex-basis: 33.33%;
  }

  .footer__top {
    padding-bottom: 20px;
  }

  .footer__title {
    margin-bottom: 15px;
  }

  .footer__navs {
    flex-wrap: wrap;
  }

  .footer__info,
  .footer__payment {
    flex-basis: 50%;
  }

  .footer__contact {
    flex-basis: 100%;
  }

  .footer__contact-input {
    height: 50px;
  }

  .go-top__link {
    width: 40px;
    height: 40px;
  }
}

@media (max-width:768px) {

  .header {
    padding-top: 190px;
  }

  .header-top {
    margin-bottom: 70px;
  }

  .header__navigation {
    display: none;
  }

  .header__logo-img {
    width: 290px;
    position: absolute;
    transform: translate(-50%, -130%);
    -webkit-transform: translate(-50%, -130%);
    -moz-transform: translate(-50%, -130%);
    -ms-transform: translate(-50%, -130%);
    -o-transform: translate(-50%, -130%);
  }

  /* .header__navigation-menu {
    height: 100vh;
      position: fixed;
      width: 100%;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #09a565;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-end;
      padding-top: 170px;
      padding-left: 20px;
      padding-right: 20px;
    } */

  .header__links {
    margin-bottom: 100px;
    width: 510px;
  }

  .personal__list,
  .social__list {
    width: 200px;
  }

  .personal__icon,
  .social__icon {
    width: 30px;
    height: 30px;
  }

  .social__list-item {
    width: 50px;
    height: 50px;
  }

  .personal__icon-count {
    right: -28px;
    top: -16px;
    width: 25px;
    height: 25px;
    font-size: 1.5rem;
  }

  .menu__list {
    flex-direction: column;
    font-size: 2rem;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 40px;
  }

  .menu__link:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
  }

  .header__links-line::before {
    margin-left: 0;
    margin-right: 0;
  }

  .header__burger-btn {
    display: block;
    position: absolute;
    width: 50px;
    top: -155px;
    right: -35px;
    z-index: 99;
  }

  .header__burger-btn--line {
    display: block;
    margin-bottom: 10px;
    background-color: #fff;
    height: 5px;
    border-radius: 99em;
  }

  .title {
    font-size: 4rem;
  }

  .smoothies__item {
    flex-basis: 50%;
    height: 160px;
  }

  .smoothies__item:nth-child(-n+6) {
    border-bottom: 2px solid #f6ecdd;
  }

  .smoothies__item:nth-child(2),
  .smoothies__item:nth-child(6) {
    border-right: none;
  }

  .about__title {
    font-size: 4rem;
    width: 460px;
  }

  .about__title::before {
    left: -25px;
  }

  /* .about {
    font-size: 1.5rem;
  } */

  .story__images-img {
    width: 490px;
    height: 545px;
  }

  .story__images-stamp {
    left: 220px;
    top: -30px;
  }

  .testimonials {
    padding-top: 60px;
  }

  .testimonials__img-dots,
  .testimonials__slaider-text::before {
    display: none;
  }

  .testimonials__arrow {
    max-width: 200px;
  }

  .blog__post::before {
    display: none;
  }
}

@media (max-width:600px) {

  .products__card {
    flex-basis: 100%;
  }

  .blog__title {
    margin-right: 280px;
  }

  .blog__post-text {
    max-width: 435px;
  }

  .blog__post-img {
    width: 460px;
  }

  .instagram__link {
    font-size: 1.5rem;
  }

  .instagram__link-icon {
    margin-right: 10px;
    width: 21px;
    height: 21px;
  }

  .instagram__card {
    flex-basis: 50%;
  }

  .footer-container {
    width: 91%;
  }
}

@media (max-width:550px) {

  .title {
    font-size: 3.5rem;
  }

  .header__logo-img {
    width: 219px;
  }

  .header__navigation-menu {
    padding-top: 130px;
  }

  .menu__item-menu:not(:last-child) {
    margin-bottom: 10px;
  }

  .header__links-menu {
    margin-bottom: 55px;
  }

  .header__links-line {
    display: none;
  }

  .header__links {
    flex-direction: column;
  }

  .social__list,
  .personal__list {
    width: 250px;
  }

  .personal__list {
    margin-bottom: 50px;
    margin-bottom: 30px;
  }

  .about__title {
    font-size: 3.5rem;
    max-width: 415px;
    margin-top: 15px;
    margin-bottom: 20px;
    line-height: 4rem;
  }

  .about__title::before {
    display: none;
  }

  .about__img {
    width: 380px;
    height: 435px;
    transform: translate(10px, 40px);
    -webkit-transform: translate(10px, 40px);
    -moz-transform: translate(10px, 40px);
    -ms-transform: translate(10px, 40px);
    -o-transform: translate(10px, 40px);
  }

  .about__list .about__list-item:not(:last-child) {
    margin-bottom: 15px;
  }

  .btn__about {
    width: 360px;
    height: 60px;
    padding: 0 25px 0;
    margin-bottom: 15px;
    margin-bottom: 15px;
  }

  .story {
    margin-bottom: 50px;
  }

  .story__title {
    padding-top: 10px;
    margin-bottom: 20px;
  }

  .story__text {
    margin-bottom: 30px;
  }

  .btn__story {
    width: 280px;
    height: 53px;
    padding: 0 40px 0;
    font-size: 1.5rem;
  }

  .story__images-img {
    width: 400px;
    height: 465px;
  }

  .story__images-stamp {
    left: 175px;
    top: -30px;
  }

  .testimonials {
    min-height: 620px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
  }

  .testimonials__title {
    margin-bottom: 40px;
  }

  .testimonials__slaider-text {
    font-size: 1.5rem;
  }

  .blog {
    margin-bottom: 40px;
  }

  .blog__title {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .blog__post-date {
    margin-bottom: 20px;
  }

  .blog__post-text {
    line-height: 30px;
  }

  .blog__post-text {
    max-width: 400px;
  }

  .blog__post-img {
    width: 400px;
  }

  .footer__navs {
    justify-content: center;
  }

  .footer__info,
  .footer__payment {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .footer__info {
    max-width: 260px;
  }

  .go-top__text {
    display: none;
  }

  .go-top__link {
    width: 30px;
    height: 30px;
    bottom: 0;
  }

  .go-top__link::after {
    height: 25px;
  }
}

@media (max-width:480px) {

  .header {
    margin-bottom: 30px;
  }

  .header-top {
    margin-bottom: 320px;
  }

  .header__logo-img {
    width: 210px;
    transform: translate(-50%, -220%);
    -webkit-transform: translate(-50%, -220%);
    -moz-transform: translate(-50%, -220%);
    -ms-transform: translate(-50%, -220%);
    -o-transform: translate(-50%, -220%);
  }

  .header__btn {
    width: 200px;
    height: 40px;
    padding: 0px 30px 0;
    font-size: 1.5rem;
  }

  .social__list,
  .personal__list {
    width: 200px;
  }

  .personal__icon,
  .social__icon {
    width: 25px;
    height: 25px;
  }

  .social__list-item {
    width: 40px;
    height: 40px;
  }

  .btn__about {
    width: 270px;
    height: 40px;
    padding: 0 25px 0;
    margin-bottom: 15px;
  }


  .about__img {
    display: none;
  }

  .about {
    font-size: 1.2rem;
  }

  .about__title {
    font-size: 2rem;
    max-width: 230px;
  }

  .about__list .about__list-item:not(:last-child) {
    margin-bottom: 5px;
  }

  /* .about__list {
    margin-bottom: 30px;
  }

  .about__title {
    font-size: 2.5rem;
    max-width: 295px;
  } */

  /* .products__card {
    flex-basis: 100%;
  } */

  .story__images-img {
    width: 380px;
    height: 445px;
  }

  .story__images-stamp {
    display: none;
  }

  .testimonials {
    padding-top: 40px;
    margin-bottom: 20px;
  }

  .testimonials__slaider-img {
    max-width: 170px;
    max-height: 170px;
  }

  .testimonials__slaider {
    margin-bottom: 40px;
  }

  .blog__title {
    margin-bottom: 20px;
  }

  .blog__post-date {
    font-size: 1.2rem;
  }

  .blog__post-title {
    font-size: 1.5rem;
    line-height: 20px;
  }

  .blog__post-text {
    font-size: 1.2rem;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .blog__post-text {
    max-width: 320px;
  }

  .blog__post-img {
    width: 325px;
  }

  .instagram__card {
    flex-basis: 100%;
  }

  .footer__title {
    margin-bottom: 5px;
  }

  .footer__menu-link {
    font-size: 1.5rem;
  }

  .go-top__link {
    right: -85px;
  }
}

@media (max-width:400px) {


  /* .header__logo-img {
    width: 140px;
    transform: translate(-50%, -280%);
    -webkit-transform: translate(-50%, -215%);
    -moz-transform: translate(-50%, -280%);
    -ms-transform: translate(-50%, -280%);
    -o-transform: translate(-50%, -280%);
  } */

  .smoothies {
    margin-bottom: 50px;
  }

  .smoothies__title {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 20px;
  }

  .smoothies__text {
    font-size: 1.2rem;
  }

  .smoothies__item {
    flex-basis: 100%;
    height: 130px;
  }

  .smoothies__item-img {
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
  }

  .smoothies__item-title {
    font-size: 1.5rem;
  }

  .smoothies__items {
    margin-bottom: 10px;
  }

  .smoothies__item:nth-child(2n+1) {
    border-right: none;
  }

  .smoothies__item:nth-child(7),
  .smoothies__item:nth-child(8) {
    border-bottom: 2px solid #f6ecdd;
  }

  /* .about {
    font-size: 1.2rem;
  }

  .about__title {
    font-size: 2rem;
    max-width: 230px;
  }

  .about__list .about__list-item:not(:last-child) {
    margin-bottom: 5px;
  } */


  .story__title {
    padding-top: 0;
    margin-bottom: 20px;
  }

  .title {
    font-size: 3rem;
  }

  .story__text {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .story__images-img {
    width: 295px;
    height: 350px;
  }

  .btn__story {
    width: 200px;
    height: 40px;
    padding: 0 30px 0;
  }

  .testimonials__slaider {
    margin-bottom: 40px;
  }

  .testimonials__slaider-img {
    max-width: 140px;
    max-height: 140px;
  }

  .blog__post-text {
    max-width: 260px;
  }

  .blog__post-img {
    width: 264px;
  }

  .footer__social-links {
    width: 130px;
    justify-content: space-between;
  }

  .footer__contact-input {
    background-position: left 30px center;
    font-size: 1.3rem;
    height: 35px;
  }

  .footer__social-icon {
    width: 60%;
  }

  .footer__contact-input {
    margin-bottom: 25px;
  }

  .footer__contact-btn::before {
    right: 70px;
    bottom: -5px;
  }

  .footer__contact-btn {
    font-size: 1rem;
  }

  .footer__social-links {
    width: 100px;
    margin-left: 60%;
    margin-top: -15px;
  }
}

@media (max-width:325px) {

  .header-top {
    margin-bottom: 150px;
  }

  /* .header__logo-img {
    width: 185px;
    transform: translate(-50%, -220%);
    -webkit-transform: translate(-50%, -220%);
    -moz-transform: translate(-50%, -220%);
    -ms-transform: translate(-50%, -220%);
    -o-transform: translate(-50%, -220%);
} */

  .about {
    font-size: 1rem;
    padding-left: 45px;
    flex-wrap: wrap;
  }

  .about__title {
    line-height: 3rem;
  }

  .about__list {
    margin-bottom: 35px;
  }

  .btn__about {
    width: 200px;
    padding: 0 15px 0;
  }
}